#tangled {
  width: 350px;
  aspect-ratio: 1;
  background: #fff;
  filter: blur(2px) contrast(3);
  border-radius: 50%;
  overflow: hidden;
  border: 10px solid;
}
#tangled:before {
  content:"";
  position: absolute;
  width: 30%;
  aspect-ratio: 1;
  background: 
    radial-gradient(50% 50%,#0000 85%,#000 0 98%,#0000)
     80% 20%/40% 80% no-repeat,
    radial-gradient(50% 50%,#0000 90%,#000 0 98%,#0000)
     20% 20%/60% 60% no-repeat;
/*    filter: 
    drop-shadow(100px 20px #000) 
    drop-shadow(150px 60px #000)
    drop-shadow(-80px 90px #000)
    drop-shadow(100px -10px #000)
    drop-shadow(-20px 80px #000)
    drop-shadow(-20px 200px #000)
    drop-shadow(-20px -200px #000)
    drop-shadow(300px 200px #000);
   */
  animation: roel 20s infinite linear alternate;
  
}

@keyframes roel {
  from {
    filter: 
    drop-shadow(100px 20px #000) 
    drop-shadow(150px 60px #000)
    drop-shadow(-80px 90px #000)
    drop-shadow(100px -10px #000)
    drop-shadow(-20px 80px #000)
    drop-shadow(-20px 200px #000)
    drop-shadow(-20px -200px #000)
    drop-shadow(300px 200px #000);
  }
  to {
    filter: 
    drop-shadow(110px 15px #000) 
    drop-shadow(130px 70px #000)
    drop-shadow(-50px 80px #000)
    drop-shadow(92px -15px #000)
    drop-shadow(-25px 85px #000)
    drop-shadow(-30px 170px #000)
    drop-shadow(-35px -190px #000)
    drop-shadow(240px 210px #000);
  }
}



body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  place-content: center;
  background: #f7f5e9;
}